@use '../../../constants.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: constants.$size-md;
  width: 40%;

  .submitButton {
    background-color: constants.$white;
    border-color: constants.$white;

    &:hover {
      background-color: constants.$gray-lighter;
    }
  }
}