@use '../../constants.scss';

.formPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    gap: constants.$size-lg;

    .logo {
        width: 500px;
        border-radius: 10%;
    }
}