@use "sass:color";

// ***********
// COLORS
// ***********
// Primary
$primary: #086972ad;
$primary-dark: color.adjust($primary, $lightness: -10%);
$primary-light: color.adjust($primary, $lightness: 10%);
$primary-darker: color.adjust($primary, $lightness: -20%);
$primary-lighter: color.adjust($primary, $lightness: 20%);

// Secondary
$secondary: #3B8C8B;
$secondary-dark: color.adjust($secondary, $lightness: -10%);
$secondary-light: color.adjust($secondary, $lightness: 10%);
$secondary-darker: color.adjust($secondary, $lightness: -20%);
$secondary-lighter: color.adjust($secondary, $lightness: 20%);

// Tertiary
$tertiary: #F1F1F1;
$tertiary-dark: color.adjust($tertiary, $lightness: -10%);
$tertiary-light: color.adjust($tertiary, $lightness: 10%);
$tertiary-darker: color.adjust($tertiary, $lightness: -20%);
$tertiary-lighter: color.adjust($tertiary, $lightness: 20%);

// Accent
$accent: #39c2ff;
$accent-dark: color.adjust($accent, $lightness: -10%);
$accent-light: color.adjust($accent, $lightness: 10%);
$accent-darker: color.adjust($accent, $lightness: -20%);
$accent-lighter: color.adjust($accent, $lightness: 20%);

// Gray
$gray: #888888;
$gray-dark: color.adjust($gray, $lightness: -10%);
$gray-light: color.adjust($gray, $lightness: 10%);
$gray-darker: color.adjust($gray, $lightness: -20%);
$gray-lighter: color.adjust($gray, $lightness: 20%);
$gray-border: 0.1rem solid rgba(color.adjust($gray, $lightness: 10%), 0.5); // 1px equiv.
// B&W
$background-gray: #f4f4f4;
$background-gray-lighter: #f9f9f9;
$white: #ffffff;
$black: #282828;

// Error, info...
$color-error: #db341a;
$color-error-border: #ff745e;
$color-warning: #e8b125;
$color-warning-border: #ffef5e;
$color-info: $primary;
$color-info-border: $primary-light;
$color-success: #699c1c;
$color-success-border: #acde5b;
$color-star: #FBBC05;
$color-contact-card: #F7F4F4;
$color-contact-border: #B8B3B3;

// ***********
// CUSTOM
// ***********
$primary-gradient: linear-gradient(90deg, $primary-lighter 0%, $secondary 100%);
$primary-gradient-btn: linear-gradient(to right, $primary-lighter, $secondary, $primary-lighter);
$card-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); // 10px equiv.
$color-whatsapp: #25D366;
$color-whatsapp-dark: #075E54;

// ***********
// PADDING, MARGIN AND RADIUS
// ***********
$size-xs: 0.2rem;
$size-sm: 0.4rem; // 4px
$size-md: 0.8rem; // 8px
$size-lg: 1.6rem; // 16px
$size-xl: 3.2rem; // 32px
$size-xxl: 6.4rem; // 64px
$size-xxxl: 12.8rem; // 128px

$padding-section: 25.6rem; // 256px
$content-max-width: 170rem; // 1700px
$margin-top-section: 10rem; // 100px

// ***********
// TRANSITIONS
// ***********
$transition-slow: 0.5s;
$transition-mid: 0.25s;
$transition-fast: 0.1s;

// ***********
// FONT
// ***********
$font-xxs: 1.2rem; // 12px
$font-xs: 1.4rem; // 14px
$font-sm: 1.6rem; // 16px
$font-md: 2rem; // 20px
$font-lg: 2.4rem; // 24px
$font-xl: 3.2rem; // 32px

$font-title: 10rem; // 100px
$font-title-lg: 6.4rem; // 64px
$font-title-sm: 4.5rem; // 45px

$font-subtitle: 4rem; // 40px

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: bold;
$weight-black: 900;

// ***********
// SCREEN SIZES
// ***********
$screen-xs: 40rem; // 400px
$screen-sm: 57.6rem; // 576px
$screen-md: 76.8rem; // 768px
$screen-lg: 99.2rem; // 992px
$screen-xl: 120rem; // 1200px

// ***********
// EXTRA SIZES
// ***********
$thirty: 3rem; // 30px
$forty: 4rem; // 40px
$fifty: 5rem; // 50px
$eighty: 8rem; // 80px
$one-hundred-fifty: 15rem; // 150px
$two-hundred: 20rem; // 200px
$two-hundred-fifty: 25rem; // 250px
$three-hundred: 30rem; // 300px
$screen-md-includes: 76.9rem; // 769px