.pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    color: white;
}

.pagination button:disabled {
    cursor: not-allowed;
}